.calendar {
  background-color: #3f51b55d;
}

.celendar-header {
  padding: 20px;
  min-width: 1064px;
  background-color: #3f51b5a4;
}

.calendar-week-header {
  min-width: 150px;
  min-height: 30px;
  border: #3f51b5d2 thin solid;
  float: left;
  font-size: calc(10px + 1vmin);
  background-color: #3f51b5a4;
}

.calendar-grid {
  padding-left: 50px;
  padding-right: 50px;
  min-width: 1064px;
}
