.reminder-list {
  width: 500px;
}

.reminder-list-header {
  font-size: calc(1px + 2vmin);
  padding: 2px;
  text-align: center;
}

.reminder-list-button-group {
  padding: 10px;
}

.reminder-list-message-container {
  padding: 10px;
}

.reminder-list-message-card {
  font-size: calc(10px + 1.5vmin);
}

.reminder-list-message-card-content {
  white-space: pre-wrap;
}
